/* Main layout styles */
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat';
    /* theme-color: dark light; */
    /* overflow: 80%; */
}

/* TODO: fix an actual dark mode, everyone wants to see it */
dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body {
    padding: min(10em, 8%);
    font-size: 1.5rem;
    width: 100vw;
    height: max(100vh, 100%);
    /* height: 100dvh; */
    background-image: linear-gradient(176deg,
        #f7ebcd 40%,
        #fdfda7 40%, #fdfda7 75%,
        #b6ffee 75%, #b6ffee 90%,
        #4890cf 90%);
}

.scroll-box {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    /* width: calc(50% - 3em); */
    width: 750px;
    gap: 20px;
    border-radius: 1em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.cards {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    padding: 1em;
    /* width: calc(50% - 3em); */
    align-content: center;
    justify-content: center;
}

.glass-card {
    scroll-snap-align: center;
    flex-shrink: 0;
    background: rgba(199, 199, 199, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    /* box-shadow: 0 -4px -8px rgba(248, 248, 248, 0.996); */
    border: #a9a9a9 1px solid;
    width: 750px;
    gap: 1em;
    padding: 1em 1.5em;
}

.foto-gallery {
    --num-cols: 3;
    /* --row-height: 150px */
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    /* grid-auto-rows: var(--row-height); */
    gap: 1em;
    padding: 1.5em;
    width: min(100%, 70rem);
    margin-inline: auto;
}

/* .foto-gallery > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.img_across_4_blocks {
    /* grid-row-start: 0;
    grid-column-start: 1; */
    grid-column: span 2;
    grid-row: span 2;
}

.img_across_2_cols {
    grid-column: span 2;
}


/* Content styles */
/* -------------------------------------------------------------------------- */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 0;
    /* backdrop-filter: blur(40px);
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(122, 121, 121, 0.451);
    border: #a9a9a9 1px solid; */
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 1.2rem;
}

h1 {
    font-size: clamp(1.8rem, calc(7vw + 1rem), 3.5rem);
    text-align: center;
    margin-bottom: 0.5em;
}

h3 {
    font-size: clamp(1.2rem, calc(4vw + 0.5rem), 1.5rem);
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    font-size: clamp(1rem, calc(3vw + 0.5rem), 1.2rem);
    text-align: center;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    /* aspect-ratio: 16 / 9;  for landscape images */
    /* aspect-ratio: 9 / 16;  for portrait images */
    object-fit: cover;
    border-radius: 0.5rem;
    /* border: #000000 3px solid; */
}

