/* Main layout styles */
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat';
    /* theme-color: dark light; */
    /* overflow: 80%; */
}

:root {
    --text-color: rgb(0, 0, 0);
    --button-color: #dedadad8;
    --color2: #f7ebcd;
    --color3: #fdfda7;
    --color4: #b6ffee;
    --color5: #4890cf;
}

body {
    color: var(--text-color);
    padding: min(10em, 8%);
    font-size: 1.5rem;
    width: 100vw;
    height: max(100vh, 100%);
    /* height: 100dvh; */
    background-image: linear-gradient(176deg,
        /* #f7ebcd 40%,
        #fdfda7 40%, #fdfda7 75%,
        #b6ffee 75%, #b6ffee 90%,
        #4890cf 90%); */
        var(--color2) 40%,
        var(--color3) 40%, var(--color3) 75%,
        var(--color4) 75%, var(--color4) 90%,
        var(--color5) 90%);
}

/* TODO: fix an actual dark mode, everyone wants to see it */
/* -------------------------------------------------------------------------- */
.darkmode {
    --text-color: #ffffff;
    --button-color: #979797;
    --color2: #121212;
    --color3: #143e63;
    --color4: #391656;
    --color5: #211543;
}

#theme-toggle {
    height: 40px;
    width: 40px;
    padding: 0.75em;
    display: flex;
    background-color: var(--button-color);
    border: var(--text-color) 0.1px solid;
    border-radius: 50%;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}

#theme-toggle svg {
    fill: var(--text-color)
}

#theme-toggle svg:last-child {
    display: none;
}
.darkmode #theme-toggle svg:first-child {
    display: none;
}  
.darkmode #theme-toggle svg:last-child {
    display: block;
}


/* Fancy scroll box and glass cards */
/* -------------------------------------------------------------------------- */
.scroll-box {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    /* width: calc(50% - 3em); */
    width: 750px;
    gap: 20px;
    border-radius: 0.25em;
    /* border: #a9a9a9 1px solid; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.cards {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    padding: 1.25em;
    /* width: calc(50% - 3em); */
    align-content: center;
    justify-content: center;
}

.glass-card {
    scroll-snap-align: center;
    flex-shrink: 0;
    background: rgba(199, 199, 199, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.25em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    /* box-shadow: 0 -4px -8px rgba(248, 248, 248, 0.996); */
    border: #a9a9a9 1px solid;
    width: 750px;
    gap: 1em;
    padding: 1.5em;
}

.foto-gallery {
    --num-cols: 3;
    /* --row-height: 150px */
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    /* grid-auto-rows: var(--row-height); */
    gap: 1em;
    padding: 1.5em;
    width: min(100%, 70rem);
    margin-inline: auto;
}

.foto-gallery > * {
    max-width: 100%;
    width: 100%;
    height: auto;
    /* aspect-ratio: 1 / 1; */
    /* aspect-ratio: 16 / 9;  for landscape images */
    /* aspect-ratio: 9 / 16;  for portrait images */
    object-fit: cover;
    border-radius: 0.5rem;
    /* border: #000000 3px solid; */
}

.across_4_blocks {
    grid-column: span 2;
    grid-row: span 2;
}

.across_2_cols {
    grid-column: span 2;
}

.across_3_cols {
    grid-column: span 3;
}


/* General content structure; main column, break-out and full-width */
/* -------------------------------------------------------------------------- */
.text-grid{
    --grid-padding: 1rem;
    --main-size: minmax(80%, 60ch);
    --breakout-size: minmax(0, 20ch);
    --max-width-size: minmax(0, 10ch);


    display: grid;
    grid-template-columns:
        [max-width-start] var(--max-width-size) [breakout-start] var(--breakout-size) [main-start] var(--main-size) [main-end] var(--breakout-size) [breakout-end] var(--max-width-size) [max-width-end];
}

.text-grid > * {
    grid-column: main;
}

.text-grid > .breakout {
    grid-column: breakout;
}

.text-grid > .max-width{
    grid-column: max-width;
}


/* Sub-grid; three columns */
/* -------------------------------------------------------------------------- */
.content-subgrid {
    display: grid;
    grid-template-columns: 1fr 10px 1fr 10px 1fr;
    height: auto;
    gap: 0.5rem;
    column-fill: balance;
    column-rule: #121212 1px solid;
}

.content-subgrid > .vertical-line {
         border-left:1px solid #38546d; 
         border-right:1px solid #16222c; 
         height:200px;
         /* position:absolute; */
         /* right:249px; */
         /* top:10px; */
         width: 1px;
}

/* Content styles */
/* -------------------------------------------------------------------------- */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 0;
    /* backdrop-filter: blur(40px);
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(122, 121, 121, 0.451);
    border: #a9a9a9 1px solid; */
    z-index: 999;
}

/* Navigation bar */
/* -------------------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    gap: 2em;
    font-size: 1.2rem;
    width: 100vw;
    height: 60px;

    /* background: rgba(199, 199, 199, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    border: #a9a9a9 1px solid; */

    align-items: center;
    /* text-decoration: none; */
    /* color: var(--text-color); */
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0 1em;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: var(--text-color);
}

.site-logo {
    display: flex;
    align-items: center;
    /* padding: 0 1em; */

    text-decoration: none;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--text-color);
    list-style: none;
}

/* General content styling */
/* -------------------------------------------------------------------------- */
h1 {
    font-size: clamp(1.8rem, calc(7vw + 1rem), 3.5rem);
    text-align: center;
    margin-bottom: 0.5em;
}

h3 {
    font-size: clamp(1.2rem, calc(4vw + 0.5rem), 1.5rem);
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    font-size: clamp(1rem, calc(3vw + 0.5rem), 1.2rem);
    /* text-align: center; */
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
}


.landscape-img {
    aspect-ratio: 16 / 7.725;
    grid-column: span 2;
}
.portrait-img {
    aspect-ratio: 7.725 / 16;
    grid-row: span 2;
}